body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  position: initial;
  margin-top: 60px;
  width: 200px;
  height: 200px;
}

#tabela , th , td {
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}

#licoes_aprendidas {
  font-size: 1.1em;
  color: blue;
  line-height: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
\n